*{
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(180deg, rgb(204, 199, 206), rgb(149, 139, 144));
    background-size: contain;
    overflow-x: hidden;

}

.card {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
}

.card-body {
    /* padding: 0.5rem 1rem 0.5rem 1rem; */
    margin-top: 0 !important;
}

.card-body button {
    outline: none;
    background-color: rgb(239 9 9 / 85%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    border: 2px transparent;
    border-radius: 20px;
    padding: 8px 10px;
    transition: all 0.5s;
    color: #fff;
    font-weight: 600;
}

.card-body button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    background-color: rgb(239 9 9);
}

.card-text {
    font-weight: 550;
}

.r2 {
    background-color: #fff;
    border: 2px solid transparent;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4); */
    margin-bottom: 10px;
}

.r3 {
    background-color: #fff;
    border: 2px solid transparent;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4); */
    margin-bottom: 10px;
}

.r2 {
    margin-bottom: 10px;
}

.r2 .card {
    border-color: transparent !important;
}

.box {
    width: 250px;
    height: 50px;
    background-image: linear-gradient(150deg, rgb(233, 131, 131), #e6586b, #eb3b52);
    /* background: #eb3b52; */
    position: relative;
    font-weight: 500;
    font-size: xx-large;
}

.bgcol {
    background-image: linear-gradient(150deg, rgb(233, 131, 202), #e65fc4, #e65da1) !important;
}

.r3 .box:before {
    border-left: 25px solid #e65da1;
}

.box:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #eb3b52;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.box {
    position: relative;
    left: -14px;
    top: -2px;
    border-top-left-radius: 15px;
}
@media screen and (min-width:600px) and (max-width:900px) {
    .r1 .col-3{
        width: 31%;
    }
     .r2 img,.r1 img{
        height: 180px !important;
    }
    .r3 img{
        height: 150px !important;
    }
    .r2 .row>*, .r1 .row>*{
        padding-left: 1px !important;
        padding-right: 3px !important;
        padding-top: 10px;
    }
    .r2 .card-title{
        margin-top: 1rem;
    }
    .r2 .card-body {
        padding: 0 5px 10px 5px !important;
        /* margin-bottom: 10px; */
    }
     .col-md-11{
        width: 94.5% !important;

    }
}
@media (min-width:600px) {

    .r2 img,
    .r3 img {
        transition: all 0.5s;
        overflow: hidden;
    }

    .r2 img:hover,
    .r3 img:hover {
        transform: scale(1.15);

    }
    .r1 {
    animation-duration: 1.4s;
    animation-name: slideright;
    position: relative
}

}

.r1 .card {
    transition: all 0.5s;
}

.r1 .card:hover {
    transform: scale(1.08);
}

.r1 img{
    height: 250px;
}

@keyframes slideright {

    from {
        transform: scale(0.7);
        opacity: 0;

    }

    to {
       transform: scale(1);
        opacity: 1;
    }
}


@keyframes slideleft {

    from {
        right: -80px;
        opacity: 0;

    }

    to {
        right: 0;
        opacity: 1;
    }
}

@media (max-width:600px) {
    body{
        height: 102vh;
        margin-right: 10px;
    }
    .col-lg-2 {
        border-bottom: 1px solid black;
    }

.r1 .card{
    width: 118%;
}
.r1 .row{
    margin-left:-15px !important;
}
.r1 .card-body{
    padding: 0.5rem 1rem !important; 
}
    .r2 .row>*, .r1 .row>*{
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
    .r2 {
        margin-left: 5px !important;
        margin-right: 0px !important;
    }
.card-body .row>* {
    padding-left: 0!important;
    padding-right: 0!important;
}
    .margin {
        margin-left: 10px !important;
        margin-right: -2px !important;
    }
    .r1 {
    animation-duration: 1s;
    animation-name: slideleft;
    position: relative
}
    .r2 .card-body {
        padding: 0 5px 10px 5px !important;
        /* margin-bottom: 10px; */
    }

    /* .r3 img {
        width: 285px;
        align-self: center;
        margin-left: 40px !important;
    } */
    .r1 img{
        height: 90px;
    }
    .r3 img,.r2 img{
        height: 50px;
    }
.r2 .card-body .card-title{
    font-size:10.7px;
}
.r2 .card-body button{
    font-size: 7.2px;
    border-radius: 10px;
    padding: 3px 5px 5px 5px!important;
}
.r2 .col-2{
    width: 20%;
}
    .r1 button{
        font-size:10px;
        font-weight: bolder;
        padding: 3px 8px 5px 8px!important;
    }
    .r1 p{
        font-size: 10px;
        font-weight: 625;
    }
.r3 .card-title{
    font-size: 15px;
}
.r3 .card-body{
    padding:  0.5rem 0 !important;
}

.box:before {
    right: -13.6px;
    bottom: -0.5px;
    border-left: 14px solid #eb3b52;
    border-top: 16px solid transparent;
    border-bottom: 15px solid transparent;
}

.box {
    position: relative;
    left: -14px;
    top: -2px;
    border-top-left-radius: 15px;
}

.box {
    width: 150px;
    height: 30px;
    background-image: linear-gradient(150deg, rgb(233, 131, 131), #e6586b, #eb3b52);
    /* background: #eb3b52; */
    position: relative;
    font-weight: bolder;
    font-size:18px;
}
.r3 .box:before{
    right: -13.6px;
    bottom: -0.5px;
    border-left: 14px solid #e65da1;
    border-top: 16px solid transparent;
    border-bottom: 15px solid transparent;
}
.r3 .box {
    position: relative;
    left: -14px;
    top: -2px;
    border-top-left-radius: 15px;
}
}
.hidden {
opacity: 0;
}
@keyframes fade-in {
from {opacity: 0; transform: scale(.7,.7)}
to {opacity: 1;}
}
.fade-int {
animation: fade-in 1.4s;
}